@model IEnumerable<Practicaweb_Alumno.Models.AlumnoCE>

@{
    ViewBag.Title = "Lista de Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Alumnos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
           Nombre Completo
        </th>
       
        <th>
           Edad
        </th>
        <th>
            Sexo
        </th>

        <th>
            Ciudad
        </th>

        <th>
           Fecha
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @{
                if (item.Sexo == "M")
                {
                    <span>Masculino</span>
                }
                else
                {
                    <span>Femenino</span>
                }
              }

        </td>

        <td>            
            @*@Practicaweb_Alumno.Controllers.AlumnoController.NombreCiudad(item.CodCiudad)*@
            @item.Nombreciudad
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.FechaRegistro)*@
            @item.FechaRegistro.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("EditarAlumno", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Detalle_Alumno", new { id=item.Id }) |
            @Html.ActionLink("Delete", "EliminarAlumno", new { id=item.Id },new { @class="IdEliminar"})
        </td>
    </tr>
}

</table>

@section scripts{
  <script>
      $(".IdEliminar").click(function (event) {
          if(!confirm('Estas seguro de eliminar alumno ?'))
          {
              event.preventDefault();
          }
      })

    </script>  
  }
